<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args" />

  <node name="demonstration_human" pkg="simple_recognition_old" type="demonstration_human" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="lua_files" value="$(find simple_recognition_old)/Lua/"/>
    <param name="object_files" value="$(find simple_recognition_old)/objects/"/>
  	<param name="setup_files" value="$(find simple_recognition_old)/setup/"/> 
    <param name="thermalMode" value="on"/>
    <param name="memory_module" value="/deep_art"/>
  </node>


</launch>

