<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args" />

  <node name="plane_normal" pkg="simple_recognition" type="plane_normal" output="screen" launch-prefix="$(arg launch_prefix)">
  </node>


</launch>
